<meta name="author" content="erstellt von Christine Fraunhofer und Christoph Pfeiffer">
<meta name="description" content="CSL-Datei für Kurzbelege und Vollbelege im Stile der Gestaltungsrichtlinien der Medienwissenschaft an der Universität Regensburg.">
<meta name="keywords" content="CSL, mw-ur-lit, Medienwissenschaft Regenburg, Citation, Zitation">
<meta property="og:title" content="mw-ur-lit (CSL für MW-UR-Gestaltungsrichtlinien)">
<meta property="og:site_name" content="mw-ur-lit">
<meta property="og:description" content="CSL-Datei für Kurzbelege und Vollbelege im Stile der Gestaltungsrichtlinien der Medienwissenschaft an der Universität Regensburg.">
<meta property="og:image" content="https://maybegeek.github.io/mw-ur-lit/template/mw-ur-lit.jpg">
