*, *:before, *:after {
  box-sizing: border-box;
}

html {
  display: grid;
  grid-template-columns: minmax(250px, 780px);
  justify-content: center;
  font-family: 'Noto Serif', serif;
  font-size: 120%;
  background-color: rgba(236, 240, 241, 1.0);
}

body {
  margin:0;
  padding: 1.2em;
}

p {
  hyphens: auto;
}

h1::after {
  content: " ❦";
  color: rgba(156, 0, 75, 0.6);
}

h2 {
  margin-top: 2.6em;
}

h2::before {
  content: "❦ ";
  color: rgba(156, 0, 75, 0.6);
}

a {
  color: rgba(156, 0, 75, 0.8);
}

a.button {
  background-color: rgba(156, 0, 75, 0.66);
  color: white;
  margin-left: 0.6em;
  padding: 0.4em 0.8em;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(80, 80, 80, .6);
}

a.button:hover {
  background-color: rgba(156, 0, 75, 0.8);
}

.zotero-fields > ul {
  padding-left: 0;
}

.zotero-fields > ul li {
  display: grid;
  grid-template-columns: minmax(80px, 180px) 1fr;
  grid-gap: 0.1em;
  margin-bottom: 0.4em;
}

.zotero-fields > ul li > code {
  font-family: 'Noto Serif', serif;
  font-size: 70%;
  align-self: start;
  justify-self: left;
  text-align: left;
}

.zotero-fields > ul li > code:first-child {
  align-self: start;
  justify-self: right;
  text-align: right;
}

.kommentar {
  visibility: hidden;
  display: none;
}

code {
  padding: 1px 3px;
}

.citation a {
  text-decoration: none;
}

.references div {
  background-color: rgba(156, 0, 75, 0.6);
  color: white;
  border-radius: 4px;
  margin-bottom: 0.8em;
  padding: 1.6em 2em 1.6em 3.2em;
  text-indent: -1.4em;
  line-height: 1.41;
  font-size: 80%;
  box-shadow: 1px 1px 4px rgba(80, 80, 80, .6);
}

.references div a {
  color: white;
  text-decoration: none;
}

.footnotes {
  margin-top: 4em;
}

.footnotes::before {
  content: "❦ ❦ ❦ ❦ ❦ gesammelte Fußnoten und dortige Kurzbelege ❦ ❦ ❦ ❦ ❦ ❦";
  text-align: center;
  display: block;
}

.footnotes hr {
  visibility: hidden;
  display: none;
}

.footnotes ol {
  margin-top: 2em;
}

.footnotes ol {
  list-style-type: none;
  margin-left: 0;
  display: table;
}

.footnotes ol > li {
  counter-increment: customlistcounter;
  display: table-row;
}

.footnotes ol > li:before {
  content: counter(customlistcounter) " ";
  font-weight: bold;
  text-align: right;
  padding-right: 0.4em;
  display: table-cell;
}

.footnotes ol > li p {
  margin: 0.4em;
}

@media (max-width:768px) {
  .footnotes::before {
    content: "❦ ❦ ❦ ❦ Fußnoten und Kurzbelege ❦ ❦ ❦ ❦";
  }
  .zotero-fields {
    width: calc(100% + 2em);
    margin-left: -1em;
  }
}

@media (max-width:550px) {
  html {
    font-size: 92%;
  }
  .references {
    width: calc(100% + 2.4em);
    margin-left: -1.2em
  }
  .references div {
    border-radius: 0;
  }
  .footnotes ol {
    padding-left: 0;
  }
  .footnotes::before {
    content: "❦ Fußnoten und Kurzbelege ❦";
  }
}
