*, *:before, *:after {
  box-sizing: border-box;
}

html {
  display: grid;
  grid-template-columns: minmax(250px, 800px);
  justify-content: center;
  font-family: 'Noto Serif', serif;
  font-size: 120%;
}
